.content_two {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--white-color-dd);
  max-width: 373px;
  transition: 1s;
  cursor: pointer;
  box-shadow: 0 0 40px 40px var(--white-color-ff) inset,
    0 0 0 0 var(--white-color-ff);
}

.front_img {
  max-width: 75px;
  margin-bottom: 20px;
}

.title {
  color: var(--dark-color-00);
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.1px;
  height: 60px;
}

.description {
  color: var(--dark-color-33);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.1px;
  height: 93px;
}

.content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.text {
  color: var(--blue-color-07);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

.block:hover {
  background: var(--blue-color-07);
  color: var(--white-color-ff);
  box-shadow: 0 0 10px 0 var(--white-color-e9) inset,
    0 0 10px 4px var(--white-color-e9);
}

.block:hover .front_img {
  content: url('/frontDevWhite.svg');
}

.block:hover :is(.title, .description, .text) {
  color: var(--white-color-ff);
  transition: 1s;
}

.block:hover .arrow_img {
  content: url('/arrowRightWhite.svg');
}

@media screen and (max-width: 398px) {
  .title {
    height: 90px;
  }

  .description {
    height: 110px;
  }
}
